@charset "UTF-8";

@font-face {
    font-family: 'Gamer';
    src: url('/font/Gamer.ttf') format('truetype');
}

/* Title */
.bona-nova-sc-regular {
    color: brown;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    text-align: center;
}
.bd {
    margin-top: -15px;
}
/* Controls */
.play {
    background: transparent;
    position: absolute;
    transform: translate(-50%, -50%);
    text-shadow: #00000093 1px 2px 4px;
    box-shadow: #2f9aa6 0px 0px 4px;
    border: transparent;
    font-family: 'Gamer';
    color: brown;
    font-size: 22px;
    top: 50%;
    left: 50%;
    width: 160px;
}
.reset {
    background: transparent;
    position: absolute;
    transform: translate(-50%, -50%);
    text-shadow: #00000093 1px 2px 4px;
    box-shadow:  #2f9aa6 0px 0px 4px;
    border: transparent;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-top: 100px;
}
.txt-reset {
    font-family: 'Bona Nova SC';
    color: rgb(23, 107, 0);
    font-weight: 1000;
}
.changa-controls {
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: brown;
    margin: 4px 8px 4px 8px;
}
/* Game */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.game {
    background-image: url('/img/flappybirdbg.png');
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    height: 640px;
    overflow: hidden;
}
.bird {
    width: 34px;
    height: 24px;
    position: absolute;
    display: none;
}
.pipe {
    position: absolute;
    height: 100%;
}
.pipe img {
    position: absolute;
    width: 49px;
    height: 392px;
}

.top-pipe {
    height: 200px;
    width: 40px;
    position: absolute;
}
.bottom-pipe {
    height: 150px;
    width: 40px;
}
.star {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}
.score {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-family: 'Gamer';
    color: white;
}
